@mixin xs {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    @content;
    .--lg {
      display: none;
    }
  }
}
//@mixin sm {
//  @media screen and (min-width: 576px) and (max-width: 767px) {
//    @content;
//  }
//}
@mixin md {
  @media screen and (min-width: 768px) and (max-width: 1400px) {
    @content;
    .--xs, .--lg {
      display: none;
    }
  }
}

@mixin lg {
  @media screen and (min-width: 1401px) {
    @content;
    .--xs {
      display: none;
    }
  }
}